body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.organism-container {
  padding: 3%;
}
.organism-name {

}
.organism-description {

}
.organism-image {
  width: 100%;
}
.organism-classifications-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.organism-classification {
  margin: 1%;
  padding: 1%;
  background-color: white;
}
.organism-classification h4, p {
  margin: 2%;
}
